/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.container {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}
.form {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 20px;
  justify-content: center;
}
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  width: 272px;
  /* height: 40px; */
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
 
}
.info-list{
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
}
.info-list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery-item img{
  height: 200px;
}

.loader {
  display: block;
  margin: 20px auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.is-hidden {
  display: none;
}
